<%- include("../includes/head") %>

    <body>

        <%- include("../includes/header-nav") %>

            <main>
                <form class="login-form" action="/signup" method="POST">
                    <% if (errorMessage) { %>
                        <div class="user-message1 user-message--error1">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                    <div class="form-control">
                        <label for="email">E-Mail</label>
                        <input type="email" name="email" id="email">

                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-control">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword">
                    </div>

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <button class="btn" type="submit">Sginup</button>
                        
                
                </form>
            </main>

            <!-- <%- include("../includes/footer") %> -->

    </body>

    </html>