<%- include("../includes/head") %>

<body class="dark-mode">
    <%- include("../includes/header-nav") %>

            <h1>My Products</h1>
            <p>List of all the products...</p>


            <main>
                <% if (prods.length> 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imgeUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$<%= product.price %>
                                    </h2>
                                </div>
                                <div>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a class="btn" href="/edit-product/<%= product._id %>?edit=true">Edit</a>
                                    
                                    
                                    
                                        <button onclick="deleteProduct(this)" class="btn" type="button">Delete</button>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                   
                                   
                                   
                                    <%- include("../includes/add-to-cart", {product:product} ) %>
                                        <a href="/products/<%= product._id %>"" class=" btn"> Details </a>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
    </body>
    </html>